<!DOCTYPE html>
<html>
  <head>
    <title>Headers</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>headers</h1>
     <p>
         content-type <%= header1 %>
     </p>
     <p>
         Content-Type <%= header2 %>
     </p>
    <p>
         Content-type <%= header3 %>
     </p>
  </body>
</html>