<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
        <li><a href="/json">json</a></li>
        <li><a href="/queryparser">queryparser</a></li>
        <li><a href="/bodyparser">bodyparser</a></li>
        <li><a href="/cookie">cookie</a></li>
        <li><a href="/session">session</a></li>
    </ul>
    <p>Welcome to <%= title %></p>
    <p>Welcome to <%= appName %></p>
      <img src="img/cascada.jpg" />
  </body>
</html>
