<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
        <a href="/json">json</a>
        <a href="/queryparser">queryparser</a>
        <a href="/bodyparser">bodyparser</a>
        <a href="/cookie">cookie</a>
        <a href="/session">session</a>
    </ul>
    <p>Welcome to <%= title %></p>
    <p>Welcome to <%= appName %></p>
      <img src="img/zocalo.jpeg" />
  </body>
</html>
