<!DOCTYPE html>
<html>
  <head>
    <title>Query String</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="get">
        nombre: <input type="text" name="nombre" />
        apellido: <input type="text" name="apellido" />
        <input type="submit" value="guardar" />
    </form>
      
      req.query: <%= query %>
  </body>
</html>
