<!DOCTYPE html>
<html>
  <head>
    <title>Query String</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      texto en url que se imprime gracias a app.params <%= texto %>
  </body>
</html>
