<!DOCTYPE html>
<html>
  <head>
    <title>Query String</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="post" enctype="multipart/form-data">
        archivo: <input type="file" name="nombre" />
        <input type="submit" value="guardar" />
    </form>
  </body>
  <script>

  </script>
</html>